export OP_SESSION_lucca_keka_toa="{{ onepasswordRead "op://Private/OP_SESSION_lucca_keka_toa/password" .op_account_personal }}"
export OP_TEAM="{{ onepasswordRead "op://Private/OP_TEAM/password" .op_account_personal }}"
