export OP_SESSION_lucca_keka_toa="{{ onepasswordRead "op://Private/OP_SESSION_lucca_keka_toa/password" }}"
export OP_TEAM="{{ onepasswordRead "op://Private/OP_TEAM/password" }}"
export ANTHROPIC_API_KEY="{{ onepasswordRead "op://Private/ANTHROPIC_API_KEY/password" }}"
