# Set the default shell to ZSH
set-option -g default-shell $SHELL

# make tmux display things in 256 colors
set -g default-terminal "xterm-screen-256color"

# set scrollback history to 10000 (10k)
set -g history-limit 10000

# set Ctrl-x as the default prefix key combination
# and unbind C-b to free it up
set -g prefix C-x
unbind C-b

bind C-l send-keys 'C-l' # Send C-l (clear screen) to the terminal

bind R source-file ~/.tmux.conf \; display-message "  Config reloaded..". # Reload tmux config

bind C-a send-prefix # Pass C-a through to application

# shorten command delay
set -sg escape-time 2

# use PREFIX | to split window horizontally and PREFIX - to split vertically
unbind %
#bind \ split-window -h
unbind '"'
#bind - split-window -v

bind T swap-window -t 1 # Make the current window the first window

bind h select-pane -L # Select pane to the left (Vi-style)
bind j select-pane -D # Select pane below (Vi-style)
bind k select-pane -U # Select pane above (Vi-style)
bind l select-pane -R # Select pane to the right (Vi-style)

bind -r C-h select-window -t :- # Cycle to previous window
bind -r C-l select-window -t :+ # Cycle to next window

bind H resize-pane -L 5 # Resize pane left by 5
bind J resize-pane -D 5 # Resize pane down by 5
bind K resize-pane -U 5 # Resize pane up by 5
bind L resize-pane -R 5 # Resize pane right by 5

bind m run "cut -c3- ~./.tmux/tmux.conf.funcs | sh -s _toggle_mouse" # Toggle mouse mode on/off
set -g mouse on

bind -n M-Left select-pane -L # Select pane left (Alt+Left, no prefix)
bind -n M-Right select-pane -R # Select pane right (Alt+Right, no prefix)
bind -n M-Up select-pane -U # Select pane above (Alt+Up, no prefix)
bind -n M-Down select-pane -D # Select pane below (Alt+Down, no prefix)

# === Session Management with Sesh ===
bind-key "k" display-popup -E -w 40% "sesh connect \"$(
  sesh list -i | gum filter --limit 1 --placeholder 'Pick a sesh' --prompt='⚡'
)\"" # Sesh quick connect popup

bind-key "j" run-shell "sesh connect \"$(
  sesh list -i | fzf-tmux -p 55%,60% \
    --no-sort --border-label ' sesh ' --prompt '⚡  ' \
    --header '  ^a all ^t tmux ^x zoxide ^g config ^k tmux kill ^f find' \
    --bind 'tab:down,btab:up' \
    --bind 'ctrl-a:change-prompt(⚡  )+reload(sesh list -i)' \
    --bind 'ctrl-t:change-prompt(🪟  )+reload(sesh list -it)' \
    --bind 'ctrl-g:change-prompt(⚙️  )+reload(sesh list -ic)' \
    --bind 'ctrl-x:change-prompt(📁  )+reload(sesh list -iz)' \
    --bind 'ctrl-f:change-prompt(🔎  )+reload(fd -H -d 2 -t d -E .Trash . ~)' \
    --bind 'ctrl-k:execute(tmux kill-session -t {})+change-prompt(⚡  )+reload(sesh list)'
)\"" # Sesh session manager with fzf

# Active monitoring
setw -g monitor-activity on
set -g visual-activity on

# Highlighting Current Window Using Specified Colour
#set-window-option -g window-status-current-bg yellow

bind D source ~/.config/tmux/tmux_dev # Load dev pane layout

# Creates a new session (and a new window group)
new-session -s main

# others
set -g @tmux-nerd-font-window-name-show-name true
set -g @tmux-nerd-font-window-name-shell-icon ""

set-option -g status-interval 5
set-option -g automatic-rename on
set-option -g automatic-rename-format '#{b:pane_current_command}'

# yazi image preview
set -g allow-passthrough on

set -ga update-environment TERM
set -ga update-environment TERM_PROGRAM
set -ga update-environment OPEN_WEATHER_API_KEY

# Set API keys for plugins
set-environment -g OPEN_WEATHER_API_KEY "{{onepasswordRead "op://Private/OPENWEATHER_API/password"}}"

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'catppuccin/tmux#v2.1.3' # See https://github.com/catppuccin/tmux/tags for additional tags
set -g @plugin 'alberti42/tmux-fzf-links'
set -g @plugin 'jaclu/tmux-menus'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'alexchaichan/tmux-spotify-tui'
set -g @plugin 'tmux-plugins/tmux-battery'
set -g @plugin 'tmux-plugins/tmux-cpu'
set -g @plugin 'vascomfnunes/tmux-clima'

# Catppuccin configuration - must be set BEFORE running catppuccin.tmux
set -g @catppuccin_flavor 'mocha'
set -g @catppuccin_window_status_style 'rounded'

# Pane border styling (uses catppuccin theme colors)
set -g @catppuccin_pane_border_style "fg=#{@thm_surface_0}"
set -g @catppuccin_pane_active_border_style "fg=#{@thm_lavender}"

# Make the status line pretty and add some modules
set -g status-right-length 100
set -g status-left-length 100
set -g status-left ""
set -g status-right '#{actual_song}'
set -g status-right "#{E:@catppuccin_status_application}"
set -agF status-right "#{E:@catppuccin_status_cpu}"
set -agF status-right "#{E:@catppuccin_status_load}"
set -ag status-right "#{E:@catppuccin_status_session}"
set -ag status-right "#{E:@catppuccin_status_uptime}"
set -agF status-right "#{E:@catppuccin_status_clima}"
set -agF status-right "#{E:@catppuccin_status_battery}"

# === floating scratch terminal ===
bind p if-shell -F '#{==:#S,floating}' { detach-client } { display-popup -d "#{pane_current_path}" -xC -yC -w70% -h70% -E "env TERM=xterm-256color tmux -u new -A -s floating" } # Toggle floating scratch terminal

# === tmux-fzf-links ===
set-option -g @fzf-links-key 'f'
# set-option -g @fzf-links-history-lines "0"
set-option -g @fzf-links-editor-open-cmd "tmux new-window -n 'vi' /opt/homebrew/bin/nvim +%line '%file'"
set-option -g @fzf-links-fzf-path "fzf"
set-option -g @fzf-links-fzf-display-options "-w 100% --maxnum-displayed 20 --multi --track --no-preview"
# set-option -g @fzf-links-loglevel-tmux "WARNING"
# set-option -g @fzf-links-loglevel-file "DEBUG"
# set-option -g @fzf-links-log-filename "~/log.txt"
set-option -g @fzf-links-python "python3"
# set-option -g @fzf-links-python-path "~/.virtualenvs/my_special_venv/lib/python3.11/site-packages"
# set-option -g @fzf-links-user-schemes-path "~/.tmux/plugins/tmux-fzf-links/user_schemes/user_schemes.py"
set-option -g @fzf-links-use-colors on
# set-option -g @fzf-links-ls-colors-filename "~/.cache/tmux-fzf-links/cached_ls_colors.txt"
set-option -g @fzf-links-hide-bottom-bar off

# Load catppuccin
run ~/.tmux/plugins/tmux/catppuccin.tmux

# Last saved environment is automatically restored when tmux is started.
set -g @continuum-restore 'on'

# === tmux-clima ===
set -g @clima_unit metric
#set -g @clima_location "Berlin"
set -g @clima_use_nerd_font 1

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'

bind-key x kill-pane # skip "kill-pane 1? (y/n)" prompt
set -g detach-on-destroy off  # don't exit from tmux when closing a session
