Host pixeltowers-staging
  HostName {{onepasswordRead "op://PixelTowers/PIXELTOWERS_STAGING/password" }}
  User root
Host pixeltowers-prod-v1
  HostName {{onepasswordRead "op://PixelTowers/PIXELTOWERS_PROD/password" }}
  User root
Host ssh.winkoz.com
  ProxyCommand cloudflared access ssh --hostname %h
  User esteban
  IdentityFile ~/.ssh/esteban_babylon
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
