# see https://github.com/sigoden/aichat/blob/main/config.example.yaml

model: openai:gpt-4.1
temperature: 0.6
clients:
  - type: openai
    api_key: "{{ onepasswordRead "op://Private/AIChat_OpenAI/password" }}"
