# created: 2025-11-04T09:12:26+01:00
# public key: {{ onepasswordRead "op://Private/age-encryption-key/public_key" .op_account_personal }}
{{ onepasswordRead "op://Private/age-encryption-key/private_key" .op_account_personal }}